@use "./base.scss";
/* Полностью скрыть Graph View */
.graph-view {
  display: none !important;
}

/* Скрыть ссылку в навигации */
a.nav-item[href="/graph"],
.mobile-menu-item[href="/graph"] {
  display: none !important;
}

/* Скрыть раздел графа на страницах тегов */
.page-listing .graph-view {
  display: none !important;
}
// put your custom CSS here!
